h1{
color: Darkorchid;
  text-align: center;
}
body{
  background-color:Thistle;
}
p{
  text-align:center;
}
ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:DEB8FA;
}
li{
  float:left;
}
li a, .dropBtn{
  display:inline-block;
  color:MediumVioletRed;
  text-align:center;
  padding:12px 14px;
}
li a:hover, .dropDown:hover .dropBtn{
background-color:purple;
}
li.dropDown{
  display:inline-block;
  background-color:#CFA5F9;
}
.dropDown-content{
  display:none;
  position:absolute;
  background-color:#ADD5FF;
  min-width:160px;
 border: 10px solid #ffffff;
 box-shadow: 5px 2px 5px 5px #fdedf9; 
  z-index:1;
}
.dropDown-content a{
color:black;
display:block;
text-align:left;
}
.dropDown-content a:hover{
background-color:#B2A3FF;
color:blue;
}

.dropDown:hover .dropDown-content{
  display:block;
}
.navi{
  background-color: #CFA5F9;
  display: flex; justify-content: center; align-items: center;
}
.left{
   position: absolute;
  left: 2px;
  margin: 2px;
  padding: 2px;
  border: 2px solid white;
  width:24.5%;
  height: 1000px;
  font-size: 0.8rem;
}
.right{
    position: absolute;
  right: 1px;
  margin: 2px;
  padding: 2px;
  border: 2px solid;
  width:74%;
  height: 1260px;
}
.workbook{
  width: 80px;
  background-color: #E675FF;
  color: black;
  border: 2px dotted  white;
  text-decoration: none;
  font-size: 18px;
}
.workbook a{
  color: black;
  text-decoration: none;
}
.workbook a:hover{
  background-color: white;
  color: black;
}

