h1{
color: Darkorchid;
}
body{
  background-color:Thistle;
}
ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:DEB8FA;
}
li{
  float:left;
}
li a, .dropBtn{
  display:inline-block;
  color:MediumVioletRed;
  text-align:center;
  padding:12px 14px;
}
li a:hover, .dropDown:hover .dropBtn{
background-color:purple;
}
li.dropDown{
  display:inline-block;
}
.dropDown-content{
  display:none;
  position:absolute;
  background-color:#ADD5FF;
  min-width:160px;
 border: 10px solid #ffffff;
 box-shadow: 5px 2px 5px 5px #fdedf9; 
  z-index:1;
}
.dropDown-content a{
color:black;
display:block;
text-align:left;
}
.dropDown-content a:hover{
background-color:#B2A3FF;
color:blue;
}
.dropDown:hover .dropDown-content{
  display:block;
}
